*.svg linguist-detectable

/Hosting/*.js linguist-generated

/Bootstrap/bootstrap5/ linguist-vendored
/Python/*_rendered.html linguist-generated
/SVG/*.js linguist-generated
/TypeScript/*.js linguist-generated
/VBScript/*.vbs linguist-language=VBScript
